body {
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Header style */

header {
    height: 115px;
}
  
.topHeader {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 115px;
    background: #F2F0EB;
}

.logo {
    text-transform: uppercase;
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
}
  
nav {
    position: absolute;
    top: 110px;
    background-color: #F2F0EB;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in;
}

#active {
    font-weight: bolder;
}
  
.aktiv {
    display: flex;
    z-index: 7;
}
  
nav ul {
    border: none;
}
  
nav li {
    display: block;
    padding: 25px 0;
}
    
.nav_link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: lighter;
    transition: transform 0.5s ease-in;
    font-size: 14px;
}

.top-nav {
    display: flex;
}
  
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

.heart {
    font-size: 25px;
    margin-right: 5px;
    text-decoration: none;
}

.heart-link {
    text-decoration: none;
    color: #A60201;
}
  
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 5px;
}
  
.burger .first {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: rgb(0, 0, 0);
}

.burger .second {
    opacity: 0;
}

.burger .third {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: rgb(0, 0, 0);
}

/* Main style  */

main {
    padding: 1rem;
    min-height: 65vh;
}

#nav-hide, .arrows, #card-hide  {
    display: none;
}

.card, #card-hide {
    height: 350px;
    width: 240px;
    margin-bottom: 20px;
}

.card-slider {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.post {
    height: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid red;
    transition: transform 500ms ease;
}

.post-content {
    position: absolute;
    top: 65%; left: 20px;
}

.footer-main {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.contact-main, .about-main, .favorite-main  {
    position: relative;
    width: 350px;
    height: 300px;
    background-color: #a33b3b;
    border-radius: 10px;
}

.h4-main {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 50%;  left: 0; right: 0;
    transform: translateY(-50%);
    font-size: 30px;
}

/* Footer style  */

footer {
    background-color: #F2F0EB;
    padding-top: 10px;
    text-align: center;
}

.footer_links {
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer_link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    transition: transform 0.5s ease-in;
    font-size: 14px;
    display: inline-block;
    height: 35px;
}

.social-links a {
    display: inline-block;
    width: 50px;
    background-color:  #263D46;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s ease;
    margin-bottom: 25px;
}

@media screen and (min-width: 1060px) {

    /* Header style  */
    
    .topHeader {
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        position: static;
        width: unset;
        border-bottom: unset;
        background-color: unset;
    }
    
    nav ul {
        display: flex;
        border: none;
        gap: 10px;
        flex-wrap: wrap;
    }
      
    nav li {
        padding-right: 25px;
    }
    
    .nav-link {
        text-decoration: none;
        margin-right: unset;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
    }
    
    .hamburger, .heart {
        display: none;
    }
    
    .links-site {
        color: #38566B;
        text-decoration: none;
        white-space: nowrap;
        margin-top: 25px;
        font-weight: bolder;
        font-size: 20px;
    }

    .nav_link {
        font-size: 17px;
    }

    /*  Main style  */

    .slider-container {
        width: 1050px;
        position: relative;
        top: 10px;
        margin: 20px auto;
        height: 400px;
        overflow: hidden;
        right: 20px;
    }
    
    .inner-slider {
        width: 100%;
        height: 360px;
        position: absolute;
        top: 10px;
    }
    
    .card-slider {
        display: inline-flex;
        flex-wrap: unset;
        height: 100%;
        transition: transform 0.5s ease-in-out;
        gap: 1px;
    }

    .card, #card-hide {
        height: 350px;
        width: 250px;
        transition: all 0.45s ease-in-out;
        margin-left: 11px;
    }
    
    #nav-hide, .arrows, #card-hide {
        display: unset;
    }
    
    .arrows button {
        border: none;
        display: block;
        background: unset;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        cursor: pointer;
        transition: 0.4s ease;
        font-size: 10px;
        height: 50px;
        padding: 10px;
        opacity: 0.5;
    }
    
    .next-btn {
        right: 0; 
        margin-right: 23px;
    }
    
    .pre-btn {
        margin-left: 22px;
    }

    /* Footer style */

    .footer_link {
        margin-left: 50px;
        font-size: 17px;
    }
}

@media (hover) {

    .post-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .post:hover .post-content, 
    .post:focus-within .post-content  {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .post:focus-within .post-content {
        transition-duration: 0ms;
    }

    .post-content > *:not(.post-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .post:hover .post-content  > *:not(.post-title), 
    .post:focus-within .post-content > *:not(.post-title) {
        opacity: 1;
        transition-delay: 500ms;
    }

    .post:hover {
        transform: scale(1.02);
    }

    .nav_link:hover {
        color: #263D46;
    }

    .footer_link:hover, .social-links a:hover {
        color: #375560;
    }

    .arrows button:hover {
        background-color: rgba(0,0,0,0.4);
        opacity: 1;
    }
}