body {
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Header style */

header {
    height: 115px;
}
  
.topHeader {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 115px;
    background: #F2F0EB;
}

.logo {
    text-transform: uppercase;
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
}
  
nav {
    position: absolute;
    top: 110px;
    background-color: #F2F0EB;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in;
}

#active {
    font-weight: bolder;
}
  
.aktiv {
    display: flex;
}
  
nav ul {
    border: none;
}
  
nav li {
    display: block;
    padding: 25px 0;
}
    
.nav_link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: lighter;
    transition: transform 0.5s ease-in;
    font-size: 14px;
}

.top-nav {
    display: flex;
}
  
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

.heart {
    font-size: 25px;
}
  
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 5px;
}
  
.burger .first {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: rgb(0, 0, 0);
}

.burger .second {
    opacity: 0;
}

.burger .third {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: rgb(0, 0, 0);
}

/* Main style  */

main {
    padding: 1rem;
    min-height: 65vh;
}

.slider-container, .slider-inside  {
    margin: 20px auto;
    display: flex;
}

.slider-card {
    display: block;
    height: 100%;
}

.card {
    width: 217px;
    height: 300px;
    padding-bottom: 15px;
} 

.post {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid red;
    z-index: -1;
}

.post-content {
    /*  background: linear-gradient(
         hsl(0 0% 0% / 0)
         hsl(20 0% 0% / 0.3) 20%,
         hsl(0 0% 0% / 1)
     ); */
    position: absolute;
    top: 54%; left: 20px;
}

#post-hide, #nav-hide {
    display: none;
}

.arrows button {
    display: none;
} 

/* Footer style  */

footer {
    background-color: #F2F0EB;
    padding-top: 10px;
    text-align: center;
}

.footer_links {
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer_link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    transition: transform 0.5s ease-in;
    font-size: 14px;
    display: inline-block;
    height: 35px;
}

.social-links a {
    display: inline-block;
    width: 50px;
    background-color:  #263D46;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s ease;
    margin-bottom: 25px;
}

@media screen and (min-width: 954px) {
    /* Header style  */
    
    .topHeader {
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        position: static;
        width: unset;
        border-bottom: unset;
        background-color: unset;
    }
    
    nav ul {
        display: flex;
        border: none;
        gap: 10px;
        flex-wrap: wrap;
    }
      
    nav li {
        padding-right: 25px;
    }
    
    .nav-link {
        text-decoration: none;
        margin-right: unset;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
    }
    
    .hamburger, .heart {
        display: none;
    }
    
    .links-site {
        color: #38566B;
        text-decoration: none;
        white-space: nowrap;
        margin-top: 25px;
        font-weight: bolder;
        font-size: 20px;
    }

    .nav_link {
        font-size: 17px;
    }

    /*  Main style  */

    .slider-container {
        width: 917px;
        position: relative;
        display: block;
    }
    
    .slider-inside {
        height: 320px;
        overflow: hidden;
    }
    
    .slider-card {
        display: inline-flex;
        transition: transform 0.3s ease-in-out;
        position: relative;
        top: 10px;
    }
    
    .card {
        margin-bottom: unset;
        margin-left: 10px;
    }
    
    .post {
        transition: transform 500ms ease;
        overflow: hidden;
        z-index: unset;
    }

    #post-hide, #nav-hide {
        display: unset;
    }

    .post-content {
        transition: transform 500ms ease;
        transform: translateY(65%);
    }

    .arrows button {
        border: none;
        display: unset;
        background: unset;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        cursor: pointer;
        transition: 0.4s ease;
    } 

    .arrows button:hover {
        background-color: rgba(0,0,0,0.4);
    }
    
    .next-btn {
        right: 0;
    }

    /* Footer style */

    .footer_link {
        margin-left: 50px;
        font-size: 17px;
    }
}

@media (hover) {

    .nav_link:hover {
        color: #263D46;
    }

    .footer_link:hover, .social-links a:hover {
        color: #375560;
    }
      
    .post:hover {
        transform: scale(1.05);
    }
    
    .post:hover .post-content, 
    .post:focus-within .post-content  {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .post:focus-within .post-content {
        transition-duration: 0ms;
    }

    .post:hover .post-content > *:not(.post-title){
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .post:hover .post-content  > *:not(.post-title), 
    .post:focus-within .post-content > *:not(.post-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }
}